body
{
    background: linear-gradient(to right, rgb(232, 173, 92), rgb(112, 115, 214));
    height: 50vh;
    width: 50vh;
    background-size: 100% 100%;
    display: grid;
    /* justify-content: center;
    align-content: center; */
}

.com-card1
{
    background-color: white;
    border-radius: 5px;
    height: 500px;
    width: 800px;
    margin-left: 33%;
    margin-top: 10%;
}
/* linear-gradient(to bottom right,pink, blue, red, purple); */