*
{
    box-sizing: border-box;    
}

body
{
    font-size: 100%;
    font-family: Candara, Corbel, 'Gill Sans MT', sans-serif;
}

.body-con
{
    background:conic-gradient(from 90deg at 50% 50%, rgba(255, 204, 236, 1) 0%, rgba(255, 204, 236, 1) 4%, rgba(255, 156, 133, 1) 35%, rgba(255, 156, 133, 1) 49%, rgba(255, 199, 142, 1) 51%, rgba(255, 199, 142, 1) 70%, rgba(149, 148, 255, 1) 97%, rgba(149, 148, 255, 1) 98%, rgba(255, 204, 236, 1) 100%) no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

img
{
    width: 60px;
    height: 60px;
}

a
{
    text-decoration: none;
    color: black;
    margin-left: 1.2em;
}

button
{
    border: transparent;
    background: transparent;
}

.com-card
{
    background-color: white;
    border-radius: 0.3em;
    height: 36em;
    width: 50em;
}

div
{
    display: inline-block;
}

.vtl
{
    border: none;
    border-left: 1px solid rgb(170, 170, 170);
    width: 0;
    position: relative;
}

.u-name
{
    font-weight: bolder;
    color: black;
}

.mt-comment, .st-comment, .sst-comment, .mt2-comment
{
    color: grey;
}

.reaction
{
    display: inline;
}

.reaction button
{
    margin-top: 1.3em;
}

.upvote
{
    background: url(./assets/Up.svg) no-repeat;
    width: 1em;
    height: 1em;
}

.downvote
{
    background: url(./assets/Down.svg) no-repeat;
    width: 1em;
    height: 1em;
}

.m-thread
{
    position: relative;
    bottom: 9em;
    left: 4.2em;
    top: 2em;
    width: 44em;
    word-wrap: break-word;
    height: 23.4em;
    /* background-color: rgb(188, 210, 230); */
}

.m-thread .vtl
{
    height: 18.9em;
    left: -20em;
}

.m-text
{
    position: relative;
    top: -27.8em;
    left: 3em;
    padding: 20px;
    margin: 1.5em;
    width: 39.5em;
    /* background-color: yellowgreen; */
}

.s-thread
{
    /* background-color: aqua; */
    position: relative;
    bottom: 29.4em;
    left: 4em;
    height: 14.9em;
    width: 40em;
}

.s-thread .vtl
{
    height: 10.5em;
    left: -18em;
}

.s-text
{
    position: relative;
    top: -17.8em;
    left: 4.5em;
    padding: 20px;
    margin: 0.01em;
    width: 35.5em;
    /* background-color: blueviolet; */
}

.ss-thread
{
    /* background-color: rgb(8, 87, 61); */
    position: relative;
    bottom: 17.9em;
    left: 4em;
    height: 6.5em;
    width: 36em;
}

.ss-thread .vtl
{
    height: 2em;
    left: -16em;
}

.ss-text
{
    position: relative;
    top: -9.4em;
    left: 4.5em;
    width: 31.4em;
    padding: 20px;
    margin: 0.1em;
    /* background-color: rgb(177, 177, 72); */
}

.m2-thread
{
    /* background-color: rgb(87, 77, 77); */
    position: absolute;
    bottom: 4.5em;
    left: 21.9em;
    height: 6.3em;
    width: 44em;
}

.m2-thread .vtl
{
    height: 1.8em;
    left: -20em;
}

.m2-text
{
    position: relative;
    top: -9.2em;
    left: 4.5em;
    width: 39.4em;
    padding: 20px;
    margin: 0.1em;
    /* background-color: rgb(157, 157, 27); */
}
